:root {
	--status-good: #44bb99;
	--status-warn: #eedd88;
	--status-bad: #ee8866;
	--status-closed: #dddddd;
	--corner-radius: 4px;
}

/* Layout stuff */
.card {
	border-radius: 0;
	margin: 1px -16px;
	padding: 0.5rem;
	
	transition-property: margin, padding, border-radius;
	transition-duration: 0.2s;
}
	section.card:first-of-type {
		margin-top: -16px;
	}
@media (min-width: 600px) {
	.card {
		margin-left: 8px;
		margin-right: 8px;
		padding: 1rem;
	}
	section.card:first-of-type {
		margin-top: 0.5rem;
		border-top-left-radius: var(--corner-radius);
		border-top-right-radius: var(--corner-radius);
	}
	section.card:last-of-type {
		margin-bottom: 0.5rem;
		border-bottom-left-radius: var(--corner-radius);
		border-bottom-right-radius: var(--corner-radius);
	}
}

/* Colors/icons key */
.status-good {
	background-color: var(--status-good);
}
.status-warn {
	background-color: var(--status-warn);
}
.status-bad {
	background-color: var(--status-bad);
}
.status-closed {
	background-color: var(--status-closed);
}

.status-key {
	list-style-type: none;
	text-align: center;
}
	.status-key li {
		display: inline-block;
		line-height: 32px;
	}
.status-swatch {
	display: inline-block;
	vertical-align: top;
	width: 24px; 
	height: 24px;
	padding: 0;
	margin: 2px;
	border: 1px solid rgba(0, 0, 0, 0.11);
	border-radius: var(--corner-radius);
}

/* Data table */
#loading-placeholder td {
	padding: 8rem 0;
	text-align: center;
}
#restaurant-list {
	width: 100%;
	border-collapse: collapse;
}
	#restaurant-list th {
		text-align: left;
		font-weight: normal;
		opacity: 0.8;
	}
	#restaurant-list tbody tr {
		border-top: 1px solid rgba(0, 0, 0, 0.11);
	}
	#restaurant-list td img {
		vertical-align: middle;
	}
	#restaurant-list td:nth-of-type(2) {
		/* Restaurant name */
		font-weight: bold;
	}
	#restaurant-list td:nth-of-type(3) {
		/* Restaurant location */
		font-size: 80%;
	}
	#restaurant-list td button,
	#restaurant-list td [role="button"] {
		box-sizing: border-box;
		width: 40px;
		height: 40px;
		margin: 0;
		padding: 8px;
		border-radius: 50%;
	}

/* Footer */
footer {
	margin-top: 4rem;
	text-align: center;
	font-size: 80%;
}
